<ion-view title="对话属性设置" id="chatsetting">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg " has-bouncing="true">
    <p></p>
    <ion-list>
      <ion-item class="item-avatar-right item-icon-right">
        <img ng-src="img/weixin/pan.jpg" alt="头像">
        <h2 class="padding-top">朋友头像</h2>
        <!--    <i class="icon ion-ios-arrow-right"></i>-->
      </ion-item>
      <ion-item class="item-input">
        <span class="input-label">朋友昵称</span>
        <input type="text" class="text-right" placeholder="Dream">
      </ion-item>
    </ion-list>
    <p></p>
    <ion-list>
      <ion-item class=" item-icon-right">
        <h2>设置当前聊天背景</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class=" item-icon-right">
        <h2>将背景应用到所有聊天场景</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <p></p>
    <ion-list>
      <ion-item class=" item-icon-right">
        <h2>清空聊天记录</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class=" item-icon-right">
        <h2>删除聊天背景</h2>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>

    </ion-list>
    <div class="padding">
      <button class="button button-balanced button-full">完成</button>
    </div>
  </ion-content>

</ion-view>

