<ion-view title="笑笑" id="chatdetails">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear iconfont icon-wo " ui-sref="chatsetting"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg has-button-footer" has-bouncing="true">
    <p class="text-center"><span class="time">昨天 14:11</span></p>
    <div class="row row-center row-horizontal-start">
      <img ng-src="img/weixin/qian.jpg" class="header " alt="">
      <p class="left">这是最有营销态度的APP</p>
    </div>
    <div class="row row-center row-horizontal-end">
      <p class="right">是的</p>
      <img ng-src="img/weixin/pan.jpg" class="header " alt="">
    </div>
  </ion-content>
  <div class="padding light-bg fixed-bottom " keyboard-attach>
    <div class="row row-no-padding">
      <i class="iconfont icon-yuyin1 col"></i>
      <input type="text" class="col-65">
      <i class="iconfont icon-biaoqing1 col"></i>
      <i class="iconfont icon-jiahao col"></i>
    </div>
    <div class="add-more">
      <div class="row  row-horizontal-around text-center">
        <span class="col-20"><i class="iconfont icon-xiangce"></i><p>照片</p></span>
        <span class="col-20"><i class="iconfont icon-ai-video"></i><p>视频聊天</p></span>
        <span class="col-20"><i class="iconfont icon-ai-hongbao"></i><p>红包</p></span>
        <span class="col-20"><i class="iconfont icon-xianxiashoukuan"></i><p>转账</p></span>

      </div>
      <div class="row  row-horizontal-around text-center">
        <span class="col-20"><i class="iconfont icon-time"></i><p>聊天时间</p></span>
        <span class="col-20"><i class="iconfont icon-yuyin2"></i><p>语音输入</p></span>
        <span class="col-20"><i class="iconfont icon-chehui"></i><p>撤回</p></span>
        <span class="col-20"></span>
      </div>
    </div>
  </div>
</ion-view>

