<ion-view title="加好友专区">
  <ion-nav-buttons side="left">
    <button class="button button-clear icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-ios-paper-outline" ng-click=""></button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="false" class="stable-bg" has-bouncing="true" id="addbuddy">
    <ion-list>
      <ion-item class="item-divider light-bg">
        <p class=" text-center"><i class="icon ion-ios-information assertive"> 温馨提示 : 领取新的粉丝，之前添加粉丝将自动清空！</i></p>
      </ion-item>

    </ion-list>
    <p></p>
    <ion-list>
      <ion-item >
        <div class="row row-center row-no-padding">
        <span class="col">2017-02-23</span>
        <span class="col">20个粉丝</span>
        <button class="button button-energized ">可领取</button>
        </div>
      </ion-item>
      <ion-item >
        <div class="row row-center row-no-padding">
          <span class="col">2017-02-23</span>
          <span class="col">20个粉丝</span>
          <button class="button button-stable ">已领取</button>
        </div>
      </ion-item>
      <ion-item >
        <div class="row row-center row-no-padding">
          <span class="col">2017-02-23</span>
          <span class="col">20个粉丝</span>
          <button class="button button-stable button-outline ">已失效</button>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
   <div class="fixed-bottom row row-no-padding">
     <button class="button button-light col">清除数据</button>
     <button class="button button-energized col">领取今日</button>
   </div>
</ion-view>

