<ion-view title="我的">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="">设置</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg" id="aliaccount" has-bouncing="true">
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-avatar item-icon-right">
        <img ng-src="img/weixin/pan.jpg" alt="">
        <h2>潘先生</h2>
        <p>个人中心 : 银行卡 、会员</p>
        <i class="icon iconfont icon-qrcode grey"></i>
      </a>
    </ion-list>
    <p></p>
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>账单</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>蚂蚁会员 <span class="item-note">6,826积分</span></h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>总资产 <span class="item-note balanced">账号安全保险保障中</span></h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>余额 <span class="item-note">0.00</span></h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>

      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>余额宝</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
    </ion-list>
    <p></p>
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>蚂蚁聚宝</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>芝麻信用</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>保险服务</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>蚂蚁花呗</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>蚂蚁借呗</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>网商银行</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
    </ion-list>
    <p></p>
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>爱心捐赠</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>娱乐宝</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
    </ion-list>
  </ion-content>

</ion-view>

