<ion-view title="朋友">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="right">
      <button class="button no-border iconfont icon-tongxunlu2 wx-header-right" ng-click=""></button>
      <button class="button button-clear icon ion-android-add wx-header-right" ui-sref="aliaddchat"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg" id="friend" has-bouncing="true">
    <ion-list>
      <a ng-href="" nav-direction="forward" class="item item-avatar">
        <img ng-src="img/alipay/friend/shenghuohao.png" alt="">
        <h2>生活号 <span class="item-note">11:20</span></h2>
        <p>移动用户中心:话费充值</p>
      </a>

      <a nav-direction="forward" class="item item-avatar">
        <img ng-src="img/alipay/friend/xiaoxi.png" alt="">
        <h2>消息中心 <span class="item-note">10:20</span></h2>
        <p>会员积分通知</p>
      </a>

      <a ng-href="#/alichatdetails" nav-direction="forward" class="item item-avatar">
        <img ng-src="img/weixin/qian.jpg" alt="">
        <h2>笑笑 <span class="item-note">10:20</span></h2>
        <p>已经打钱过去了</p>
      </a>
    </ion-list>
  </ion-content>

</ion-view>

