<ion-view title="支付宝" hide-nav-bar="true">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="right">
      <button class="button no-border iconfont icon-tongxunlu2 wx-header-right" ng-click=""></button>
      <button class="button button-clear icon ion-android-add wx-header-right" ng-click="openPopover($event)"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg" id="koubei" has-bouncing="true">
    <ion-list>
        <ion-item class="item-image">
          <img ng-src="img/alipay/koubei.jpg" alt="">
        </ion-item>
    </ion-list>
  </ion-content>

</ion-view>

