<ion-view title="微信支付">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear iconfont icon-wo " ui-sref="chatsetting"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg" id="wxpaylist" has-bouncing="true">
    <p></p>
    <p class="text-center"><span class="time">2017年3月9日 14:11</span></p>
    <div class="list padding light-bg card">
      <p>零钱提现发起</p>
      <p class="grey">3月18日</p>
      <p class="grey text-center">提交金额</p>
      <h2 class="text-center">￥1000.0</h2>
      <p><span class="grey"> 提现银行: </span> 交通银行(6633)</p>
      <p><span class="grey"> 提现时间: </span> 2017-03-10 12:27.12</p>
      <p><span class="grey"> 预计到账时间: </span> 2017-03-10 16:27.12</p>
      <a ng-href="" class="item item-icon-right">
        查看详情
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
    </div>
  </ion-content>

</ion-view>

