<ion-view title="零钱充值">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg" id="recharge" has-bouncing="true">
    <p></p>
     <div class="padding">
       <div class="row row-center light-bg ">
         <span class="col-15">金额</span>
         <input type="text" class="col-75 text-right padding-horizontal" placeholder="填写金额">
         <span>元</span>
       </div>
     </div>
    <div class="padding">
      <a ng-click="" class="button button-balanced full-image ">充值</a>
    </div>
  </ion-content>

</ion-view>

