<ion-view title="我的钱包">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear icon ion-android-more-vertical  " ng-click=""></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg" id="wallet" has-bouncing="true">
    <div class="row  row-horizontal-around row-center text-center wallet-bg">
      <span class="col-33"><i class="iconfont icon-shoukuan"></i><p>付款</p></span>
      <span class="col-33"><i class="iconfont icon-yue" ui-sref="loosechange"></i><p>零钱
      <span>￥0.00</span></p></span>
      <span class="col-33"><i class="iconfont icon-yinxingqia"></i><p>银行卡</p></span>

    </div>
    <ion-list>
      <ion-item class="item-content item-image">
        <img ng-src="img/weixin/account/wallet.jpg" alt="">
      </ion-item>
    </ion-list>
  </ion-content>

</ion-view>

