<ion-view title="提现">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons side="left">
      <button class="button button-clear button-positive icon ion-ios-arrow-left positive"
              ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear icon ion-ios-help-outline button-positive "></button>

    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg" id="aliwithdraw" has-bouncing="true">
    <p></p>
    <ion-list>
      <a ng-href="" nav-direction="forward" class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-xianxiashoukuan energized"></i>
        <h2>中国银行 </h2>
        <p>尾号6666 储蓄卡</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </ion-list>
    <p></p>
    <div class="light-bg">
      <label class="item item-input item-stacked-label">
        <span class="input-label">提现金额</span>
        <input type="text" placeholder="￥">
      </label>
      <p class="padding grey">可用余额 0.00元</p>
    </div>
    <div class="padding">
      <a ng-click="" ng-disabled="true" class="button button-calm full-image ">两个小时内到账,确认提现</a>
    </div>
  </ion-content>

</ion-view>

