<ion-view title="余额" id="balance">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button button-clear icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear">明细</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg " has-bouncing="true">
    <div class="balance-show positive-bg light padding-horizontal">
       <div class="row row-horizontal-between "><span>余额账户 (元)</span><i class="icon ion-help-circled"></i></div>
       <h1>0.00</h1>
    </div>
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>充值</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="#/aliwithdraw" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>提现 </h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
    </ion-list>
    <p></p>
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>集分宝</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>

    </ion-list>
  </ion-content>

</ion-view>

