<ion-view title="账单" id="bill">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons side="left">
      <button class="button button-clear button-positive icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-clear button-positive">筛选</button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg " has-bouncing="true">

    <ion-list>
      <ion-item class="item-divider item-icon-right">
        <h2>本月 <span class="item-note">查看本月账单</span></h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </ion-item>
      <a ng-href="" class="item">
        <div class="row row-center">
          <div class="col-15">
            <p>今天</p>
            <p>06:39</p>
          </div>
          <i class="iconfont icon-xianxiashoukuan  energized col-15" style="font-size: 3rem;"></i>
          <div class="col">
            <strong>10.00</strong>
            <p>提现-快速提现</p>
          </div>
        </div>
      </a>
    </ion-list>

  </ion-content>

</ion-view>

