<ion-view title="个人中心">
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>

  <ion-content overflow-scroll="false" class="stable-bg" id="personalcenter" has-bouncing="true">
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-avatar item-icon-right">
        <img ng-src="img/weixin/pan.jpg" alt="">
        <h2 class="padding-top">个人主页 <span class="item-note">进入</span></h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
    </ion-list>
    <p></p>
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>我的银行卡 <span class="item-note">2</span></h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>碳账户 <span class="item-note">蚂蚁森林</span></h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>

    </ion-list>
    <p></p>
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>蚂蚁会员 <span class="item-note">铂金会员</span></h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>我的二维码</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
    </ion-list>
    <p></p>
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>收藏 </h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>我的消息</h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>
    </ion-list>
    <p></p>
    <ion-list>
      <a ng-href="" nav-direction=forward class="item item-icon-left item-icon-right">
        <i class="icon iconfont icon-logo positive"></i>
        <h2>我的客服 </h2>
        <i class="icon ion-ios-arrow-right grey"></i>
      </a>

    </ion-list>
  </ion-content>

</ion-view>

