<ion-popover-view  style="height:{{popoversize}}" >
  <ion-content overflow-scroll="false" >
    <div id="mypopover" class="list weixin-main-popover">
      <a ng-href="#" class="item item-icon-left " nav-direction=forward>
        <i class="icon ion-ios-chatbubble "></i>
        发起群聊
      </a>
      <a ng-href="#" class="item item-icon-left " nav-direction=forward>
        <i class="icon ion-ios-chatbubble "></i>
        添加朋友
      </a>
      <a ng-href="#" class="item item-icon-left " nav-direction=forward>
        <i class="icon ion-ios-chatbubble "></i>
        扫一扫
      </a>
      <a ng-href="#" class="item item-icon-left " nav-direction=forward>
        <i class="icon ion-ios-chatbubble "></i>
        收付款
      </a>
      <a ng-href="#" class="item item-icon-left " nav-direction=forward>
        <i class="icon ion-ios-chatbubble "></i>
        帮助与反馈
      </a>
    </div>
  </ion-content>
</ion-popover-view>
