.weixin {
  color: #393A3F !important;
}

.weixin-bg {
  color: #ffffff !important;
  background-color: #393A3F !important;
}

.tabs-color-active-balanced .iconfont {
  padding-top: 0.6rem;
}

.platform-ios .popover, .platform-android .popover {
  background-color: #393A3F !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) !important;
}

.platform-ios .popover-arrow:after {
  background-color: #393A3F !important;
}

.platform-ios .weixin-main-popover .item, .platform-android .weixin-main-popover .item {
  color: #ffffff !important;
  background-color: #393A3F !important;
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
}

.wx-header-right:before {
  margin-right: 0.5rem;
  font-size: 1.6rem !important;
}

#weixin .item p {
  font-size: 0.8rem;
  color: #9A9A9A;
}

#chatdetails ion-content {
  padding-top: 1rem;
}

#chatdetails .time {
  background-color: #CECECE;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  color: #ffffff;
}

#chatdetails .row {
  margin-top: 0.3rem;
}

#chatdetails .header {
  width: 3rem !important;
  height: 3rem !important;

}

#chatdetails .left {
  position: relative;
  background-color: #ffffff;
  /*  border: 1px solid rgba(221, 221, 221, 0.5);*/
  border-radius: 6px;
  padding: 0.8rem;
  margin: 0 1rem;
  font-size: 1rem;
}

#chatdetails .left:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 8px solid #ffffff;
  border-bottom: 5px solid transparent;
}

#chatdetails .right {
  float: right;
  position: relative;
  background-color: #A0E75B;
  /*  border: 1px solid rgba(221, 221, 221, 0.5);*/
  border-radius: 6px;
  padding: 0.8rem;
  margin: 0 1rem;
  font-size: 1rem;
}

#chatdetails .right:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #A0E75B;
  border-bottom: 5px solid transparent;
}

#chatdetails .fixed-bottom .iconfont {
  font-size: 1.8rem !important;
  color: #7F828B;
}

#chatdetails .fixed-bottom input {
  margin-top: -0.5rem;
  padding: 0 0.6rem;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

#chatdetails .add-more {
  padding-top: 1rem;
}

#chatdetails .add-more span i {
  padding: 0.6rem;
  border: 1px solid rgba(221, 221, 221, 0.5);
  border-radius: 5px;
}

#chatdetails .add-more span p {
  margin-top: 1rem;
}

#addressbook .item-avatar {
  min-height: 54px !important;
}

#addressbook .item-avatar > img {
  top: 6px;
  bottom: 6px;
}

#addressbook .tag {
  padding-top: 0.2rem;
  padding-left: 1rem;
  height: 0.8rem;
}

#addfriend .item button {
  margin-top: 0.6rem;
}

#wallet .wallet-bg {
  background-color: #686F79;
  height: 8rem;
  color: #ffffff;
  padding-top: 0.8rem;
}

#wallet .wallet-bg i {
  font-size: 2.6rem;
}

#wallet .wallet-bg p {
  margin-top: 0.6rem;
  font-size: 1rem;
}

#wallet .wallet-bg p span {
  margin-bottom: -1.2rem;
  display: block;
  font-size: 0.9rem;
  color: #B2B7BD;
}

#loosechange {
/*  background-color: #B2B7BD;*/
  padding-top: 3rem;
}

#loosechange img {
  width: 7rem;
  height: 7rem;
  margin: 0 auto;
}
